<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/navbar') %>
  <div class="container my-4">
    <form action="/blog/add" method="POST" class="w-50" enctype="multipart/form-data" >
   
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload Image</label>
        <input class="form-control" type="file" name="coverImage" id="formFile">
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control " name="title" id="title" aria-describedby="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Write Something About it...</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" itemid="description"></textarea>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-sm">ADD Blog</button>
      </div>
    </form>
  </div>

  <%- include('./partials/script') %>
</body>
</html>