<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('./partials/head') %>
</head>
<body>
  <%- include('./partials/navbar') %>
  <div class="container my-4">
    <form action="/user/login" method="post"class="w-50" >
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control " name="email" id="email" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control " name="password" id="password">
      </div>
      <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
    <p><a href="/signup">if not logged in then signup now</a></p>
    </form>
  </div>
   

  <%- include('./partials/script') %>
</body>
</html>